<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Responsive layout -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- SEO / link preview -->
  <title>{{ page.title | default: site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  {% endif %}

  <!-- This is to be able to review SEO data - DO NOT REMOVE -->
  <meta name="google-site-verification" content="mepvYxQ77zzETrGGSjPnQcM0AUbqsCt8QRsycscUBPc" />

  <!-- Main site styles -->
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}" />
</head>

<body>
  {% include header.html %}

  <main class="container">
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- Scripts -->
  <script src="{{ '/assets/site.js' | relative_url }}"></script>
  <script>
    // Auto-update footer year
    var el = document.getElementById("year");
    if (el) el.textContent = new Date().getFullYear();
  </script>
</body>
</html>
